DATABASE_URL = "postgres://avnadmin:"
PULSE_API_KEY = ""
SECRET = "HELLO_WORLD"
SMTP_PORT = 587
SMTP_HOST = "smtp.gmail.com"
SMTP_EMAIL = ""
SMTP_PASSWORD = ""
PRIVATE_KEY=""
RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
CONTRACT_ADDRESS="0x9CfdAEAff42D4941B8435A97646E80568e525f71"
MARKETPLACE_CONTRACT_ADDRESS = ""
OWNER_ADDRESS=""